In [5]:
num=5
for n in range(1,num+1):
    print("*"*n,end="")
    print()

*
**
***
****
*****

In [6]:
num,space=1,4
while num!=6:
    print((" "*space)+("*"*num))
    space-=1
    num+=1

    *
   **
  ***
 ****
*****

In [8]:
num=5
while num!=-1:
    print(("*"*num))
    num-=1

*****
****
***
**
*

In [9]:
num=5
space=0
while space!=5:
    print((" "*space)+("*"*num))
    space+=1
    num-=1

*****
 ****
  ***
   **
    *

In [10]:
space=0
while space!=5:
    print((" "*space)+("*"))
    space+=1

*
 *
  *
   *
    *

In [11]:
space=4
while space!=-1:
    print((" "*space)+("*"))
    space-=1

    *
   *
  *
 *
*

In [15]:
space=0
while space!=5:
    print((" "*space)+(chr(65)))
    space+=1

A
 A
  A
   A
    A

In [16]:
space=4
while space!=-1:
    print((" "*space)+("M"))
    space-=1

    M
   M
  M
 M
M

In [18]:
num=1
while num!=6:
    print((chr(65)*num))
    num+=1

A
AA
AAA
AAAA
AAAAA

In [20]:
num=1
space=4
while space!=-1:
    print((" "*space)+(chr(66)*num))
    space-=1
    num+=1

    B
   BB
  BBB
 BBBB
BBBBB

In [22]:
num=5
while num!=-1:
    print((chr(67)*num))
    num-=1

CCCCC
CCCC
CCC
CC
C

In [23]:
num=5
space=0
while space!=6:
    print((" "*space)+(chr(66)*num))
    space+=1
    num-=1

BBBBB
 BBBB
  BBB
   BB
    B

In [26]:
num=1
char=65
while num!=6:
    for a in range(num):
        print(chr(char),end="")
        char+=1
    print()
    num+=1

A
BC
DEF
GHIJ
KLMNO

In [28]:
num=1
space=4
char=65
while num!=6:
    print(" "*space,end="")
    for a in range(num):
        print(chr(char),end="")
        char+=1
    print()
    space-=1
    num+=1

    A
   BC
  DEF
 GHIJ
KLMNO

In [29]:
num=5
char=65
while num!=0:
    for a in range(num):
        print(chr(char),end="")
        char+=1
    print()
    num-=1

ABCDE
FGHI
JKL
MN
O

In [31]:
num=1
while num!=6:
    print("1"*num)
    num+=1

1
11
111
1111
11111

In [32]:
num=1
space=4
while num!=6:
    print((" "*space)+("2"*num))
    num+=1
    space-=1

    2
   22
  222
 2222
22222

In [33]:
num=5
while num!=-1:
    print("3"*num)
    num-=1

33333
3333
333
33
3

In [34]:
num=5
space=0
while num!=-1:
    print((" "*space)+("4"*num))
    space+=1
    num-=1

44444
 4444
  444
   44
    4

In [35]:
count=1
while count!=6:
    for n in range(1,count+1):
        print(n,end="")
    print()
    count+=1

1
12
123
1234
12345

In [37]:
count=1
space=4
while count!=6:
    print(" "*space,end="")
    for n in range(1,count+1):
        print(n,end="")
    print()
    count+=1
    space-=1

    1
   12
  123
 1234
12345

In [39]:
count=5
while count!=0:
    for n in range(1,count+1):
        print(n,end="")
    print()
    count-=1

12345
1234
123
12
1

In [41]:
count=5
space=0
while count!=-1:
    print(" "*space,end="")
    for n in range(1,count+1):
        print(n,end="")
    print()
    count-=1
    space+=1

12345
 1234
  123
   12
    1

In [42]:
num=1
count=1
while count!=6:
    for n in range(count):
        print(num,end="")
        num+=1
    print()
    count+=1

1
23
456
78910
1112131415

In [50]:
num=1
count=1
space=4
while count!=6:
    print(" "*space,end="")
    for n in range(count):
        print(num,end="")
        num+=1
    print()
    space-=1
    count+=1

    1
   23
  456
 78910
1112131415

In [53]:
num=1
count=5
space=0
while count!=0:
    print(" "*space,end="")
    for n in range(count):
        print(num,end="")
        num+=1
    print()
    space+=1
    count-=1

12345
 6789
  101112
   1314
    15

In [54]:
num=1
count=5
while count!=0:
    for n in range(count):
        print(num,end="")
        num+=1
    print()
    count-=1

12345
6789
101112
1314
15

In [56]:
num=65
count=1
while count!=6:
    print(chr(num)*count)
    num+=1
    count+=1

A
BB
CCC
DDDD
EEEEE

In [2]:
num=65
count=1
space=4
while count!=6:
    print((" "*space) + (chr(num)*count))
    num+=1
    space-=1
    count+=1

    A
   BB
  CCC
 DDDD
EEEEE

In [3]:
num=65
count=5
while count!=0:
    print(chr(num)*count)
    num+=1
    count-=1

AAAAA
BBBB
CCC
DD
E

In [4]:
num=65
count=5
space=0
while count!=-1:
    print((" "*space) + (chr(num)*count))
    num+=1
    space+=1
    count-=1

AAAAA
 BBBB
  CCC
   DD
    E

In [7]:
num=1
count=1
while num!=6:
    print((str(num)*count))
    num+=1
    count+=1

1
22
333
4444
55555

In [2]:
num=1
count=1
space=4
while num!=6:
    print((" "*space)+(str(num)*count))
    num+=1
    count+=1
    space-=1

    1
   22
  333
 4444
55555

In [6]:
num=1
count=5
while num!=6:
    print((str(num)*count))
    num+=1
    count-=1

11111
2222
333
44
5

In [5]:
num=1
count=5
space=0
while space!=5:
    print((" "*space)+(str(num)*count))
    num+=1
    count-=1
    space+=1

11111
 2222
  333
   44
    5

In [1]:
n=9
space=0
for line in range(1,n+1):
    print("  "*space+str(line))
    if line<((n+1)//2):
        space+=1
    else:
        space-=1

1
  2
    3
      4
        5
      6
    7
  8
9